{% extends 'base.html' %}

{% block title %} Login {% endblock%}

{% block body %}

<!-- Page content here -->
<div class="hero min-h-screen bg-base-300" >
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Login now!</h1>
      <p class="py-6">
        Login to access weather data
      </p>
    </div>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <form class="card-body" method="post" action="">
        {% csrf_token %}
        <div class="form-control">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input
            name="login"
            id="id_login"
            type="text"
            autocomplete="email"
            placeholder="email"
            class="input input-bordered"
          />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input
            name="password"
            autocomplete="current-password"
            id="id_password"
            type="password"
            placeholder="password"
            class="input input-bordered"
          />
        </div>
        <div class="form-control">
          <label class="label cursor-pointer">
            <span class="label-text">Remember me</span>
            <input
              name="remember"
              id="id_remember"
              type="checkbox"
              checked=""
              class="checkbox"
            />
          </label>
        </div>
        <div class="form-control mt-2 flex lg:flex-row gap-2 md:mr-2">
          <button type="submit" class="btn btn-outline btn-primary lg:w-1/2">
            <i class="fa-solid fa-arrow-right-to-bracket"></i> Login
          </button>
          <a href="/accounts/signup/" class="btn btn-secondary btn-outline lg:w-1/2"
            ><i class="fa-solid fa-user-plus"></i> Signup</a
          >
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
