{% extends 'base.html' %}

{% block title %} Logout {% endblock%}

{% block body %}

<div class="hero min-h-screen bg-base-200" >
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Logout?</h1>
      <p class="py-6">You sure wanna go?</p>
      <form action="/accounts/logout/" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline btn-secondary bg-success">
          <i class="fa-solid fa-right-from-bracket"></i> Logout
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
