{% extends 'base.html' %}

{% block title %} Logout {% endblock%}

{% block body %}

<div class="hero min-h-screen bg-base-300">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Signup!</h1>
      <p class="py-6">You need to signup to access local weather data.</p>
    </div>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <form class="card-body" action="" method="post">
        {% csrf_token %}
        <div class="form-control">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input
            name="email"
            autocomplete="email"
            id="id_email"
            type="email"
            placeholder="email"
            class="input input-bordered"
          />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input
            name="password1"
            autocomplete="new-password"
            id="id_password1"
            type="password"
            placeholder="password"
            class="input input-bordered"
          />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password (again)</span>
          </label>
          <input
            name="password2"
            autocomplete="new-password"
            id="id_password2"
            type="password"
            placeholder="password"
            class="input input-bordered"
          />
        </div>
        <div>
          <button type="submit" class="btn btn-outline btn-secondary w-full mt-2"><i class="fa-solid fa-user-plus"></i> Signup</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
