{% load static %}

<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/5c2d098959.js" crossorigin="anonymous"></script>
    
</head>
<body>

    <!-- Navbar -->
    <div class="navbar bg-primary">
        <div class="navbar-start">
          <a class="btn btn-ghost text-xl text-neutral" href="{% url 'index' %}">Weather Forecast</a>
        </div>
        <div class="navbar-center hidden lg:flex">
        </div>
        <div class="navbar-end">
            {% if user.is_authenticated %}
            <a class="btn" href="{% url 'account_logout' %}"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
            {% else %}
            <a class="btn" href="{% url 'account_login' %}"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
            {% endif %}
        </div>
    </div>

    {% block body %}
    {% endblock %}
    
    <!-- Ajax Link -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    {% block script %}
    {% endblock %}
</body>
</html>