{% extends 'base.html' %}

{% block title %} Weather Tracker - Home {% endblock%}

{% block body %}
<div
  class="hero min-h-screen"
  style="
    background-image: url(https://daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.jpg);
  "
>
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-2xl">
      <h1 class="mb-5 text-5xl font-bold brightness-150 contrast-150">
        Weather Forecast
      </h1>
      <p class="mb-3 brightness-125 contrast-125">
        Hang on while we fetch forecast data for you.
      </p>
      <div class="pb-4">
        <div class="flex flex-row gap-2 text-center justify-center">
            <div>Getting IP address </div><span id="ip-spinner" class="loading loading-ring loading-md"></span><i id="ip-done" class="hidden fa-solid fa-check"></i>
        </div>
        <div class="flex flex-row gap-2 center justify-center">
            <div>Getting GPS location </div><span id="gps-spinner" class="loading loading-ring loading-md"></span><i id="gps-done" class="hidden fa-solid fa-check"></i><i id="gps-error" class="hidden fa-solid fa-xmark"></i>
        </div>
      </div>
      <button class="btn btn-primary" id="get-data" href="" disabled>Get data</button><br>
      <span id="api-spinner" class="hidden loading loading-infinity loading-lg"></span>

      <input type="hidden" id="lng">
      <input type="hidden" id="lat">
      <input type="hidden" id="ip">

      <div id="location-data" class="hidden stats shadow mt-5 stats-vertical lg:stats-horizontal">
        <div class="stat">
            <div class="stat-title" id="loc-region">Total Page Views</div>
            <div class="stat-value text-primary" id="loc-name">89,400</div>
            <div class="stat-desc" id="loc-country">21% more than last month</div>
        </div>
        <div class="stat">
          <div class="stat-title" id="date-now">Total Page Views</div>
          <div class="stat-value text-primary" id="temp-now">89,400</div>
          <div class="stat-desc" id="hnp-now">21% more than last month</div>
        </div>
      </div>

      <div id="forecast-data" class="hidden mt-3 stats shadow stats-vertical lg:stats-horizontal">
        <div class="stat">
          <div id="date1" class="stat-title">Total Likes</div>
          <div id="temp1" class="stat-value text-secondary">25.6K</div>
          <div id="hnp1" class="stat-desc">21% more than last month</div>
        </div>
        <div class="stat">
            <div id="date2" class="stat-title">Total Likes</div>
            <div id="temp2" class="stat-value text-secondary">25.6K</div>
            <div id="hnp2" class="stat-desc">21% more than last month</div>
        </div>
        <div class="stat">
            <div id="date3" class="stat-title">Total Likes</div>
            <div id="temp3" class="stat-value text-secondary">25.6K</div>
            <div id="hnp3" class="stat-desc">21% more than last month</div>
        </div>
      </div>
    </div>
  </div>

  
</div>
{% endblock %}

{% block script %}
<script>

    // Getting GPS address
    // Check if geolocation is supported by the browser
    if ("geolocation" in navigator) {
        // Prompt user for permission to access their location
        navigator.geolocation.watchPosition(
        // Success callback function
        function (position) {
            // Get the user's latitude and longitude coordinates
            const lat = position.coords.latitude;
            const lng = position.coords.longitude;

            // Add GPS coordinates
            console.log(`Latitude: ${lat}, longitude: ${lng}`);
            document.getElementById("lng").setAttribute('value', lng)
            document.getElementById("lat").setAttribute('value', lat)

            $('#gps-spinner').hide()
            $('#gps-done').show()

            $('#get-data').removeAttr('disabled')
        },
        // Error callback function
        function (error) {
            // Handle errors, e.g. user denied location sharing permissions
            console.error("Error getting user location:", error);
            $('#gps-spinner').hide()
            $('#gps-error').show()
        }
        );
    } else {
        // Geolocation is not supported by the browser
        console.error("Geolocation is not supported by this browser.");
    }

    // Getting IP address
    $(document).ready(()=>{
        $.getJSON("https://api.ipify.org?format=json",
        function (data) {

            // Add IP address
            console.log(data.ip)
            $('#ip').val(data.ip)

            $('#ip-spinner').hide()
            $('#ip-done').show()

            $('#get-data').removeAttr('disabled')
        })

        $('#get-data').on("click", function () {
            $('#api-spinner').show()

            var to_send = {
                ip: $('#ip').val(),
                lng: $('#lng').val(),
                lat: $('#lat').val()
            }
            
            $.ajax({
                type: 'POST',
                url: '/api/',
                data: to_send,
                success: function (data) {
                    $('#api-spinner').hide()
                    console.log(data)

                    loc = data['location']
                    $('#loc-region').html(loc['region'])
                    $('#loc-country').html(loc['country'])
                    $('#loc-name').html(loc['name'])

                    current = data['current']
                    $("#date-now").html("Last updated: " + current['date'])
                    $("#temp-now").html(current['temp'] + "°C")
                    $("#hnp-now").html("Hdt: " + current['humidity'] + "%, Rain: " + current['precipitation'] + " in")

                    forecast = data['forecast']
                    $("#date1").html(forecast[0]['date'])
                    $("#date2").html(forecast[1]['date'])
                    $("#date3").html(forecast[2]['date'])

                    $("#temp1").html(forecast[0]['min_temp'] + " - " + forecast[0]['max_temp'] + "°C")
                    $("#temp2").html(forecast[1]['min_temp'] + " - " + forecast[1]['max_temp'] + "°C")
                    $("#temp3").html(forecast[2]['min_temp'] + " - " + forecast[2]['max_temp'] + "°C")

                    $("#hnp1").html("Hdt: " + forecast[0]['humidity'] + "%, Rain: " + forecast[0]['precipitation'] + " in")
                    $("#hnp2").html("Hdt: " + forecast[1]['humidity'] + "%, Rain: " + forecast[1]['precipitation'] + " in")
                    $("#hnp3").html("Hdt: " + forecast[2]['humidity'] + "%, Rain: " + forecast[2]['precipitation'] + " in")
                    
                    $('#location-data').show()
                    $('#forecast-data').show()

                },
                Error: function (error) {
                    $('#api-spinner').hide()
                    console.log("Error!", error)
                }
            })
        })

    });

</script>
{% endblock %}
