{% extends 'base.html' %}

{% block title %}
Weather Tracker
{% endblock %}

{% block body %}
<div class="hero min-h-screen" style="background-image: url(https://daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.jpg);">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold brightness-150 contrast-150">Welcome to Weather Tracker!</h1>
        <p class="mb-5 brightness-125 contrast-125">Track your local weather conditions and plan accordingly!</p>
        <a class="btn btn-primary" href="{% url 'account_login' %}">Get Started</a>
      </div>
    </div>
</div>
{% endblock %}